$gray: #A8A8A8;
$gray-light: #CACACA;
$gray-lighter: #DEDEDE;
$gray-lightest: #F8F8F8;

$btn-default-bg: $gray-light;
$btn-default-border: $gray-light;

$font-family-sans-serif: 'Enzo', Helvetica, Arial, sans-serif;

$navbar-default-bg: #DEDEDE;
$navbar-default-border: #DEDEDE;
$navbar-height: 75px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 40px;