.mbl
  .row
    .col-md-6
      form#new.form-inline
        input#asin.form-control placeholder="ASIN"
        button.btn.btn-primary.btn-sm.mls type="submit" Add Product
        button#delete.btn.btn-danger.btn-sm.mls.hidden Delete
    .col-md-6.text-right
      form#search.form-inline action=admin_products_path method="GET"
        input#search-term.form-control name="search" placeholder="Search"
        select.form-control.mls name="search_type"
          option value="name" Name
          option value="asin" ASIN
          option value="brand" Brand
          option value="category" Category
        button.btn.btn-primary.btn-sm.mls type="submit" Search

table.table.table-striped
  thead
    th
      input.product-checkbox type="checkbox" id="check-all"
    th
    th Name
    th Brand
    th ASIN
    th Healthiest Categories

  tbody
    - @products.each do |product|
      tr
        td
          input.product-checkbox type="checkbox" data-product-id=product.id
        td
          a href="https://www.amazon.com/dp/#{product.asin}" target="_blank"
            span.text-body.fa.fa-external-link
        td
          a href=edit_admin_product_path(product.id) ==product.name
        td
          - if product.brand
            a href=edit_admin_brand_path(product.brand) ==product.brand.name
        td ==product.asin
        td
          ul
            - product.categories.each do |category|
              li
                a href=edit_admin_category_path(category.id) ==category.name

.text-center
  ==render partial: 'admin/pagination', locals: @pagination.merge(path: admin_products_path)

- content_for :footer_scripts do
  javascript:
    $('#new').submit(function(e) {
      e.preventDefault();
      var asin = $('#asin').val();
      var submitButton = $("#new button[type='submit']");
      submitButton.attr('disabled', 'disabled');

      if (asin.length == 0) {
        return;
      }

      $.ajax("#{api_admin_products_path}", {
        contentType: 'application/json',
        method: 'POST',
        data: JSON.stringify({ product: { asin: asin } }),
      }).done(function(resp) {
        var productsPath = "#{admin_products_path}";
        window.location = productsPath + "/" + resp.product.id + "/edit";
      }).error(function(jqXHR, textStatus, errorThrown) {
        submitButton.attr('disabled', false);
        submitButton.removeClass('btn-primary');
        submitButton.addClass('btn-danger');
        submitButton.text('Error =(');
      });
    });

    $('#search').submit(function(e) {
      var searchTerm = $('#search-term').val();
      if (searchTerm.length == 0) {
        e.preventDefault();
      }
    });

    $('.product-checkbox').on('change', function(e) {
      updateSelectedDisplay($('.product-checkbox:checked'));
    });

    $('#check-all').on('change', function(e) {
      if ( $(this).prop('checked') == true ) {
        var productCheckboxes = $('.product-checkbox');
        productCheckboxes.prop('checked', true);
        updateSelectedDisplay(productCheckboxes);
      } else {
        productCheckboxes = $('.product-checkbox');
        productCheckboxes.prop('checked', false);
        updateSelectedDisplay([]);
      }
    });

    function updateSelectedDisplay(selectedProducts) {
      var selectedIds = [];
      if (selectedProducts.length > 0) {
        selectedIds = selectedProducts.map(function(idx, el) { return $(el).attr('data-product-id') }).get();
      }
      if (selectedIds.length > 0) {
        $('#delete').text("Delete (" + selectedIds.length + ")");
        $('#delete').removeClass('hidden');
      } else {
        $('#delete').addClass('hidden');
      }
    }

    $('#delete').click(function(e) {
      var selectedIds = $('.product-checkbox:checked').map(function(idx, el) { return $(el).attr('data-product-id') }).get();

      if (confirm("Delete " + selectedIds.length + " products?")) {
        $.ajax("#{api_admin_products_path}/" + selectedIds.join(','), {
          contentType: 'application/json',
          method: 'DELETE'
        }).done(function(resp) {
          window.location = "#{admin_products_path}";
        }).error(function(jqXHR, textStatus, errorThrown) {
          $('#delete').text('Error =(');
        });
      }
    });
