link rel="icon" type="image/png" href="https://res.cloudinary.com/healthiest/image/upload/v1516596462/icon16_rngq2t.png" sizes="16x16"
link rel="icon" type="image/png" href="https://res.cloudinary.com/healthiest/image/upload/v1516596629/icon32_ufz6o9.png" sizes="32x32"
link rel="icon" type="image/png" href="https://res.cloudinary.com/healthiest/image/upload/v1516596648/icon48_sdxcn8.png" sizes="48x48"
link rel="apple-touch-icon" href="https://res.cloudinary.com/healthiest/image/upload/v1516596521/icon120_syyhgl.png"